.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.016000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.006348;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.006348;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.078125;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.016000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.171387;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.006348;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.910000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:1.073000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(136,162,1);}
.fc4{color:rgb(235,235,235);}
.fc3{color:rgb(20,21,18);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(255,255,255);}
.fs8{font-size:41.459997px;}
.fs7{font-size:43.169999px;}
.fs5{font-size:44.834613px;}
.fs9{font-size:47.427695px;}
.fs3{font-size:48.539999px;}
.fsa{font-size:71.999997px;}
.fs6{font-size:86.279996px;}
.fs4{font-size:86.287197px;}
.fs2{font-size:175.979993px;}
.fs0{font-size:183.989998px;}
.fsb{font-size:243.989996px;}
.fs1{font-size:763.652639px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000004px;}
.y59{bottom:32.249999px;}
.y5{bottom:51.219925px;}
.y4{bottom:63.189050px;}
.y41{bottom:86.047996px;}
.y60{bottom:93.201548px;}
.y40{bottom:101.797995px;}
.y3{bottom:109.689048px;}
.y27{bottom:131.155546px;}
.y3f{bottom:133.297994px;}
.y26{bottom:147.976171px;}
.y3e{bottom:149.047993px;}
.y2{bottom:156.189046px;}
.y25{bottom:164.796797px;}
.y3d{bottom:164.797992px;}
.y3c{bottom:180.547992px;}
.y11{bottom:188.659972px;}
.y5e{bottom:194.399934px;}
.y24{bottom:198.438049px;}
.y10{bottom:206.659971px;}
.y3b{bottom:212.047990px;}
.y23{bottom:215.258674px;}
.y5f{bottom:215.999933px;}
.yf{bottom:224.659971px;}
.y3a{bottom:227.797990px;}
.y22{bottom:232.079300px;}
.ye{bottom:242.659970px;}
.y39{bottom:243.547989px;}
.y21{bottom:248.899926px;}
.y58{bottom:249.569994px;}
.y61{bottom:249.599961px;}
.y38{bottom:259.297988px;}
.yd{bottom:260.659969px;}
.y20{bottom:265.720551px;}
.y4c{bottom:269.516794px;}
.y5c{bottom:271.199960px;}
.y37{bottom:275.047988px;}
.yc{bottom:278.659968px;}
.y1f{bottom:282.541177px;}
.y4b{bottom:284.516794px;}
.y36{bottom:290.797987px;}
.yb{bottom:296.659968px;}
.y5d{bottom:299.261121px;}
.y1e{bottom:299.361803px;}
.y4a{bottom:299.516793px;}
.y35{bottom:306.547986px;}
.y49{bottom:314.516792px;}
.y1d{bottom:316.182429px;}
.y48{bottom:329.516792px;}
.ya{bottom:332.659966px;}
.y1c{bottom:333.003054px;}
.y32{bottom:344.444729px;}
.y47{bottom:344.516791px;}
.y57{bottom:347.080068px;}
.y42{bottom:355.008691px;}
.y46{bottom:359.516791px;}
.y31{bottom:360.194728px;}
.y56{bottom:364.239148px;}
.y1b{bottom:366.644306px;}
.y9{bottom:368.659965px;}
.y45{bottom:374.516790px;}
.y30{bottom:375.944728px;}
.y55{bottom:381.398227px;}
.y1a{bottom:383.464931px;}
.y8{bottom:386.659964px;}
.y44{bottom:389.516789px;}
.y5b{bottom:390.597303px;}
.y2f{bottom:391.694727px;}
.y54{bottom:398.557307px;}
.y19{bottom:400.285557px;}
.y43{bottom:404.516789px;}
.y7{bottom:404.659963px;}
.y2e{bottom:407.444726px;}
.y53{bottom:415.716386px;}
.y18{bottom:417.106183px;}
.y2d{bottom:423.194726px;}
.y52{bottom:432.875466px;}
.y17{bottom:433.926809px;}
.y4d{bottom:434.080405px;}
.y2c{bottom:438.944725px;}
.y51{bottom:450.034546px;}
.y16{bottom:450.747434px;}
.y2b{bottom:454.694724px;}
.y13{bottom:464.721636px;}
.y50{bottom:467.193625px;}
.y15{bottom:467.568060px;}
.y4f{bottom:484.352705px;}
.y14{bottom:484.388686px;}
.y33{bottom:486.148516px;}
.y12{bottom:497.004836px;}
.y4e{bottom:501.511784px;}
.y29{bottom:513.964260px;}
.y6{bottom:520.087844px;}
.y34{bottom:522.300016px;}
.y2a{bottom:523.378433px;}
.y5a{bottom:536.068825px;}
.y28{bottom:546.214259px;}
.hb{height:36.334987px;}
.h5{height:37.187138px;}
.h7{height:37.566502px;}
.ha{height:38.605574px;}
.h9{height:40.197846px;}
.hd{height:50.399998px;}
.hf{height:62.855997px;}
.h8{height:65.552575px;}
.h6{height:66.105767px;}
.hc{height:76.499997px;}
.h4{height:140.783994px;}
.h2{height:147.191999px;}
.he{height:195.191997px;}
.h1{height:575.999976px;}
.h0{height:576.000000px;}
.h3{height:610.922111px;}
.w2{width:172.499993px;}
.w1{width:1024.499957px;}
.w0{width:1024.500000px;}
.x0{left:0.000000px;}
.x3{left:20.749717px;}
.x3f{left:23.027343px;}
.x1c{left:44.378904px;}
.x27{left:73.316511px;}
.x26{left:76.082136px;}
.x24{left:79.070417px;}
.x25{left:82.070417px;}
.x2d{left:95.066510px;}
.x28{left:103.843854px;}
.x2e{left:105.882916px;}
.x2f{left:117.217876px;}
.x2b{left:127.504009px;}
.x2a{left:129.695415px;}
.x2c{left:143.359477px;}
.x29{left:149.910258px;}
.x3b{left:297.716034px;}
.x38{left:307.032878px;}
.x3a{left:310.209989px;}
.x37{left:316.068206px;}
.x2{left:321.048620px;}
.x39{left:322.288373px;}
.x40{left:336.798676px;}
.x3d{left:363.791896px;}
.x23{left:387.237288px;}
.x3e{left:425.849982px;}
.x33{left:428.502281px;}
.x36{left:431.795250px;}
.x32{left:434.080406px;}
.x30{left:438.767906px;}
.x31{left:442.224937px;}
.x34{left:448.892906px;}
.x1{left:451.828469px;}
.x3c{left:456.879908px;}
.x35{left:459.931968px;}
.x41{left:601.079447px;}
.x4{left:750.602428px;}
.x5{left:751.750865px;}
.x10{left:756.528612px;}
.xb{left:770.453990px;}
.x1a{left:772.926357px;}
.x9{left:774.637583px;}
.x11{left:777.525747px;}
.x15{left:779.066841px;}
.x8{left:783.192270px;}
.xd{left:785.301645px;}
.x13{left:788.301460px;}
.x16{left:790.571289px;}
.x19{left:793.008368px;}
.x12{left:798.491797px;}
.xf{left:800.853342px;}
.x1e{left:810.180970px;}
.x1f{left:812.513002px;}
.x1d{left:814.106752px;}
.x21{left:820.610658px;}
.x6{left:822.379769px;}
.x7{left:824.020394px;}
.x14{left:825.861153px;}
.x20{left:831.977845px;}
.xe{left:833.993050px;}
.x17{left:838.118228px;}
.x22{left:842.615540px;}
.xc{left:851.536018px;}
.x1b{left:857.363987px;}
.xa{left:860.559455px;}
.x18{left:869.143203px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs8{font-size:55.279996pt;}
.fs7{font-size:57.559999pt;}
.fs5{font-size:59.779484pt;}
.fs9{font-size:63.236927pt;}
.fs3{font-size:64.719999pt;}
.fsa{font-size:95.999996pt;}
.fs6{font-size:115.039995pt;}
.fs4{font-size:115.049595pt;}
.fs2{font-size:234.639990pt;}
.fs0{font-size:245.319998pt;}
.fsb{font-size:325.319994pt;}
.fs1{font-size:1018.203518pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000005pt;}
.y59{bottom:42.999998pt;}
.y5{bottom:68.293233pt;}
.y4{bottom:84.252067pt;}
.y41{bottom:114.730661pt;}
.y60{bottom:124.268731pt;}
.y40{bottom:135.730660pt;}
.y3{bottom:146.252064pt;}
.y27{bottom:174.874061pt;}
.y3f{bottom:177.730658pt;}
.y26{bottom:197.301562pt;}
.y3e{bottom:198.730657pt;}
.y2{bottom:208.252062pt;}
.y25{bottom:219.729063pt;}
.y3d{bottom:219.730656pt;}
.y3c{bottom:240.730656pt;}
.y11{bottom:251.546630pt;}
.y5e{bottom:259.199912pt;}
.y24{bottom:264.584065pt;}
.y10{bottom:275.546629pt;}
.y3b{bottom:282.730654pt;}
.y23{bottom:287.011566pt;}
.y5f{bottom:287.999911pt;}
.yf{bottom:299.546628pt;}
.y3a{bottom:303.730653pt;}
.y22{bottom:309.439067pt;}
.ye{bottom:323.546627pt;}
.y39{bottom:324.730652pt;}
.y21{bottom:331.866568pt;}
.y58{bottom:332.759991pt;}
.y61{bottom:332.799948pt;}
.y38{bottom:345.730651pt;}
.yd{bottom:347.546626pt;}
.y20{bottom:354.294069pt;}
.y4c{bottom:359.355726pt;}
.y5c{bottom:361.599947pt;}
.y37{bottom:366.730650pt;}
.yc{bottom:371.546625pt;}
.y1f{bottom:376.721570pt;}
.y4b{bottom:379.355725pt;}
.y36{bottom:387.730649pt;}
.yb{bottom:395.546624pt;}
.y5d{bottom:399.014828pt;}
.y1e{bottom:399.149071pt;}
.y4a{bottom:399.355724pt;}
.y35{bottom:408.730649pt;}
.y49{bottom:419.355723pt;}
.y1d{bottom:421.576571pt;}
.y48{bottom:439.355722pt;}
.ya{bottom:443.546622pt;}
.y1c{bottom:444.004072pt;}
.y32{bottom:459.259638pt;}
.y47{bottom:459.355722pt;}
.y57{bottom:462.773424pt;}
.y42{bottom:473.344921pt;}
.y46{bottom:479.355721pt;}
.y31{bottom:480.259638pt;}
.y56{bottom:485.652197pt;}
.y1b{bottom:488.859074pt;}
.y9{bottom:491.546620pt;}
.y45{bottom:499.355720pt;}
.y30{bottom:501.259637pt;}
.y55{bottom:508.530970pt;}
.y1a{bottom:511.286575pt;}
.y8{bottom:515.546619pt;}
.y44{bottom:519.355719pt;}
.y5b{bottom:520.796404pt;}
.y2f{bottom:522.259636pt;}
.y54{bottom:531.409742pt;}
.y19{bottom:533.714076pt;}
.y43{bottom:539.355718pt;}
.y7{bottom:539.546618pt;}
.y2e{bottom:543.259635pt;}
.y53{bottom:554.288515pt;}
.y18{bottom:556.141577pt;}
.y2d{bottom:564.259634pt;}
.y52{bottom:577.167288pt;}
.y17{bottom:578.569078pt;}
.y4d{bottom:578.773873pt;}
.y2c{bottom:585.259633pt;}
.y51{bottom:600.046061pt;}
.y16{bottom:600.996579pt;}
.y2b{bottom:606.259632pt;}
.y13{bottom:619.628848pt;}
.y50{bottom:622.924834pt;}
.y15{bottom:623.424080pt;}
.y4f{bottom:645.803606pt;}
.y14{bottom:645.851581pt;}
.y33{bottom:648.198021pt;}
.y12{bottom:662.673115pt;}
.y4e{bottom:668.682379pt;}
.y29{bottom:685.285681pt;}
.y6{bottom:693.450458pt;}
.y34{bottom:696.400022pt;}
.y2a{bottom:697.837910pt;}
.y5a{bottom:714.758433pt;}
.y28{bottom:728.285679pt;}
.hb{height:48.446649pt;}
.h5{height:49.582850pt;}
.h7{height:50.088669pt;}
.ha{height:51.474098pt;}
.h9{height:53.597128pt;}
.hd{height:67.199997pt;}
.hf{height:83.807997pt;}
.h8{height:87.403434pt;}
.h6{height:88.141023pt;}
.hc{height:101.999996pt;}
.h4{height:187.711992pt;}
.h2{height:196.255998pt;}
.he{height:260.255996pt;}
.h1{height:767.999968pt;}
.h0{height:768.000000pt;}
.h3{height:814.562815pt;}
.w2{width:229.999990pt;}
.w1{width:1365.999943pt;}
.w0{width:1366.000000pt;}
.x0{left:0.000000pt;}
.x3{left:27.666289pt;}
.x3f{left:30.703124pt;}
.x1c{left:59.171873pt;}
.x27{left:97.755348pt;}
.x26{left:101.442848pt;}
.x24{left:105.427223pt;}
.x25{left:109.427223pt;}
.x2d{left:126.755347pt;}
.x28{left:138.458471pt;}
.x2e{left:141.177221pt;}
.x2f{left:156.290502pt;}
.x2b{left:170.005345pt;}
.x2a{left:172.927220pt;}
.x2c{left:191.145969pt;}
.x29{left:199.880344pt;}
.x3b{left:396.954713pt;}
.x38{left:409.377171pt;}
.x3a{left:413.613319pt;}
.x37{left:421.424275pt;}
.x2{left:428.064827pt;}
.x39{left:429.717830pt;}
.x40{left:449.064902pt;}
.x3d{left:485.055862pt;}
.x23{left:516.316384pt;}
.x3e{left:567.799976pt;}
.x33{left:571.336375pt;}
.x36{left:575.727000pt;}
.x32{left:578.773875pt;}
.x30{left:585.023875pt;}
.x31{left:589.633249pt;}
.x34{left:598.523874pt;}
.x1{left:602.437959pt;}
.x3c{left:609.173210pt;}
.x35{left:613.242623pt;}
.x41{left:801.439263pt;}
.x4{left:1000.803237pt;}
.x5{left:1002.334487pt;}
.x10{left:1008.704815pt;}
.xb{left:1027.271986pt;}
.x1a{left:1030.568476pt;}
.x9{left:1032.850111pt;}
.x11{left:1036.700996pt;}
.x15{left:1038.755788pt;}
.x8{left:1044.256360pt;}
.xd{left:1047.068860pt;}
.x13{left:1051.068614pt;}
.x16{left:1054.095052pt;}
.x19{left:1057.344491pt;}
.x12{left:1064.655729pt;}
.xf{left:1067.804456pt;}
.x1e{left:1080.241294pt;}
.x1f{left:1083.350669pt;}
.x1d{left:1085.475669pt;}
.x21{left:1094.147543pt;}
.x6{left:1096.506358pt;}
.x7{left:1098.693858pt;}
.x14{left:1101.148204pt;}
.x20{left:1109.303793pt;}
.xe{left:1111.990733pt;}
.x17{left:1117.490971pt;}
.x22{left:1123.487386pt;}
.xc{left:1135.381357pt;}
.x1b{left:1143.151982pt;}
.xa{left:1147.412606pt;}
.x18{left:1158.857604pt;}
}
